@tailwind base;
@tailwind components;
@tailwind utilities;
.main-bg {
  background: url("../images//buildings_image.jfif") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}
.active {
  /* color: red; */
  /* text-decoration: underline orange; */
  border: 2px solid red;
  padding: 5px;
  transition-property: all;
  transition-duration: 0.1s;
  border-radius: 5px;
  background-color: #ff5a3c;
}
.theme-background {
  background-color: #ff5a3c;
}
.sign-in {
  border: 2px solid #ff5a3c;
  border-radius: 5px;
}
